<header>

  <div>

    <nav style = "display : flex; justify-content: space-between">

      <a id = headertext href = > GUI Service </a>

        <div id = nav-right>

          <ul>

            <div class = resdrop>

                <div class = "resdropcon">

                <li><a href = home>HOME</a></li>

                <li><a href = #>PLACEHOLDER</a></li>

                <li><a href = #>PLACEHOLDER</a></li>

                <li><a href = #>PLACEHOLDER</a></li>

                <li><a href = #>PLACEHOLDER</a></li>

                </div>

            </div>

          </ul>

        </div>

    </nav>

  </div>

</header>
